<html>
    <head>
        <title>preview_test</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="parallax.css" type="text/css" media="screen"/>
        <link rel="stylesheet" href="hexagon.css" type="text/css" media="screen"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis+Light&v2' rel='stylesheet' type='text/css'/>

    </head>
    <body>
        <div id="header">
            <div class="content">
                <img id="logo" src="Resources/images/logo.jpg" width="129" height="74" alt="" />

                <div id="top-social">
                    <div id="contact-us">
                        <img class="mail_img" src="Resources/images/mail.jpg" width="21" height="15" alt="" />
                        <p>contactez-nous</p>
                    </div>
                    <img class="social_img" src="Resources/images/social_facebook.jpg" width="37" height="37" alt="" />
                    <img class="social_img" src="Resources/images/social_linkedin.jpg" width="37" height="37" alt="" />
                    <img class="social_img" src="Resources/images/social_twitter.jpg" width="37" height="37" alt="" />
                    <img class="social_img" src="Resources/images/social_tumblr.jpg" width="37" height="37" alt="" />
                    <img class="social_img" src="Resources/images/social_youtube.jpg" width="37" height="37" alt="" />
                </div>
            </div>
        </div>
        <div id="slider">
            <div id="top-menu">
                <div class="content">
                    <nav class="navbar-collapse collapse" role="navigation">
                        <ul class="navbar-nav nav"><!--navbar-nav no-collapse-->
                            <li><a href="#"><p>ETUDIANT ENTREPRENEUR</p></a></li>
                            <li><a href="#"><p>BOITE A OUTILS</p></a></li>
                            <li><a href="#"><p>PORTRAIT D'ETUDIANTS ENTREPRENEURS ET MENTORS</p></a></li>
                            <li><a href="#"><p>A PROPOS</p></a></li>
                        </ul>
                        <div id="search">
                            <div class="input-group stylish-input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>  
                                </span>
                            </div>
                        </div>
                    </nav>
                    <div id="hangs">
                        <h1>LE PREMIER SITE <span style = "display: block;">DES PHOTOGRAPHES INDÉPENDANTS</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="une">
            <div class="content">
                <div class="subtitle">
                    <h1>A LA UNE</h1>
                </div>
                <hr class="hr-subtitle"/>
                <div class="illustration">
                    <div class="date">02 NOVEMBRE 2016</div>
                    <img src="Resources/images/tabletop-photography.jpg" width="580" height="500" alt="" />
                </div>
                <div class="text">
                    <p> <b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer odio velit, interdum in tortor vel, suscipit tincidunt eros.
                            Donec pharetra metus sed metus suscipit laoreet. Nulla in neque blandit, bibendum nibh a, gravida libero.
                            Nam vitae ante risus. Phasellus ac erat consectetur neque maximus interdum nec in mi. 
                            Etiam erat velit, tempor vitae enim sed, malesuada mollis quam. Nam condimentum purus felis, ac aliquet nibh ultrices et.
                            Donec ultricies sit amet metus at malesuada.</b><br/><br/>

                        Pellentesque pellentesque diam nec enim imperdiet gravida sit amet eget risus. Etiam sed massa aliquet, elementum ipsum sit amet, sodales nulla.
                        Nulla facilisis ac justo quis rhoncus. Aenean ante neque, sollicitudin sed erat nec, ultrices sagittis magna. Mauris at nisl arcu.
                        Pellentesque rhoncus venenatis ex quis vulputate. Sed faucibus ut tellus eget gravida. Proin vel eros at metus pulvinar lacinia ac ut eros.
                        Pellentesque porta quam lectus, ac vulputate felis porta eget. Pellentesque placerat elit ut sapien pulvinar fringilla.</p>
                </div>

            </div>
        </div>
        <div id="passion">
            <div class="parallax-viewport" id="parallax">
                <div class="parallax-layer">
                    <img class="parallax-layer" src="Resources/images/new-york-city_v4.jpg" style="width:3000px; height:568px;"/>
                </div>
                <div class="parallax-layer">
                    <img class="parallax-layer" src="Resources/images/blur_v2.png" style="width:3232px; height:877px;opacity: 0.8;"/>
                </div>
                <div class="parallax-layer">
                    <img class="parallax-layer" src="Resources/images/passionne.png" style="width:609px; height:109px;"/>
                </div>
            </div>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
            <script type="text/javascript" src="Resources/js/jparallax-master/js/jquery.parallax.js"></script>
            <script type="text/javascript">
                jQuery(document).ready(function() {
                    // Declare parallax on layers
                    jQuery('.parallax-layer').parallax({mouseport: jQuery("#parallax")});//, {xparallax: "false"}, {yparallax: "false"},{xorigin:"center"},{yorigin:"center"}--
                });
            </script>
        </div>
        <div id="actualite">
            <div class="content">
                <div class="subtitle">
                    <h1>ACTUALITÉS</h1>
                </div>
                <hr class="hr-subtitle"/>
                <div class="illustration">
                    <img src="Resources/images/people.jpg" width="560" height="420" alt="" />
                    <div class="date">11/11/16</div>
                    <div class="tagname">ACTUALITÉS</div>
                    <div class="title">LANCEMENT DU PRIX PHOTO TREMPLIN DE L'ANNÉE</div>
                    <div class="text">
                        Mauris aliquam ut metus a molestie.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Nunc vitae sem viverra, facilisis magna at, maximus nulla. Etiam ornare et eros vel rhoncus.
                    </div>
                    <div class="more">LIRE PLUS</div>
                </div>
                <div class="illustration">
                    <img src="Resources/images/guitar.jpg" width="560" height="420" alt="" />
                    <div class="date">07/11/16</div>
                    <div class="tagname">ACTUALITÉS</div>
                    <div class="title">LEE JEFFRIES S'ILLUSTRE ENCORE EN NOIR ET BLANC</div>
                    <div class="text">
                        Aliquam vel nisl turpis. Proin mollis gravida elementum. 
                        Fusce nisi tortor, laoreet non quam nec, aliquet fermentum est. 
                        Aliquam posuere turpis eget dignissim accumsan.
                    </div>
                    <div class="more">LIRE PLUS</div>
                </div>
            </div> 
        </div>
        <div id="jeffries">
            <div class="content">
                <div class="subtitle">
                    <h1>LEE JEFFRIES</h1>
                </div>
                <hr class="hr-subtitle"/>
                <ul id="hexGrid">
                    <li class="hex">
                        <a class="hexIn" href="#">
                            <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="">
                            <h1>Photo 1</h1>
                            <p>22/02/2015</p>
                        </a>
                    </li>
                    <li class="hex">
                        <a class="hexIn" href="#">
                            <img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt="">
                            <h1>Photo 2</h1>
                            <p>01/07/2013</p>
                        </a>
                    </li>
                    <li class="hex">
                        <a class="hexIn" href="#">
                            <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt="">
                            <h1>Photo 3</h1>
                            <p>16/12/2016</p>
                        </a>
                    </li>
                    <li class="hex">
                        <a class="hexIn" href="#">
                            <img src="https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg" alt="">
                            <h1>Photo 4</h1>
                            <p>25/05/2015</p>
                        </a>
                    </li>
                    <li class="hex">
                        <a class="hexIn" href="#">
                            <img src="https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg" alt="">
                            <h1>Photo 5</h1>
                            <p>01/09/2016</p>
                        </a>
                    </li>
                    <li class="hex">
                        <a class="hexIn" href="#">
                            <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt="">
                            <h1>Photo 6</h1>
                            <p>05/06/2012</p>
                        </a>
                    </li>
                    <li class="hex">
                        <a class="hexIn" href="#">
                            <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt="">
                            <h1>Photo 7</h1>
                            <p>31/12/2009</p>
                        </a>
                    </li>
                    <li class="hex">
                        <a class="hexIn" href="#">
                            <img src="https://farm4.staticflickr.com/3766/12953056854_b8cdf14f21.jpg" alt="">
                            <h1>Photo 8</h1>
                            <p>15/04/2012</p>
                        </a>
                    </li>
                    <li class="hex">
                        <a class="hexIn" href="#">
                            <img src="https://farm7.staticflickr.com/6139/5986939269_10721b8017.jpg" alt="">
                            <h1>Photo 9</h1>
                            <p>17/03/2014</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="documentation">
            <div class="content">
                <div class="col-md-8">
                    <div class="subtitle">
                        <h3>DOCUMENTATION</h3>
                    </div>
                    <hr class="hr-subtitle"/>
                    <div class="download">TELECHARGEZ LE DOSSIER DE CANDIDATURE AU STATUT NATIONAL ETUDIANT ENTREPRENEUR</div>
                    <div class="download">TELECHARGEZ LE DOSSIER DE CANDIDATURE AU PRIX PEPITES</div>
                </div>
            </div>
        </div>
        <div id="social">
            <div class="content">
                <div class="social_bottom col-md-2">
                    <img class="" src="Resources/images/bottom_social_facebook.png" width="156" height="52" alt="" />
                </div>
                <div class="social_bottom col-md-2">
                    <img class="" src="Resources/images/bottom_social_twitter.png" width="156" height="52" alt="" />
                </div>
                <div class="social_bottom col-md-2">
                    <img class="" src="Resources/images/bottom_social_linkedin.png" width="156" height="52" alt="" />
                </div>
                <div class="social_bottom col-md-2">
                    <img class="" src="Resources/images/bottom_social_youtube.png" width="156" height="52" alt="" />
                </div>
                <div class="social_bottom col-md-2">
                    <img class="" src="Resources/images/bottom_social_tumblr.png" width="156" height="52" alt="" />
                </div>
            </div>
            </div>
            <div id="footer"></div>







    </body>
</html>