<div id="header">
    <div class="content">
        <img id="logo" src="../../Resources/images/logo.jpg" width="129" height="74" alt="" />

        <div id="top-social">
            <div id="contact-us">
                <img class="mail_img" src="../../Resources/images/mail.jpg" width="21" height="15" alt="" />
                <a href="mailto:addresse@mail"><p>contactez-nous</p></a> 
            </div>
            <a href="http://facebook.com"><img class="social_img" src="../../Resources/images/social_facebook.jpg" width="37" height="37" alt="" /></a>
            <a href="http://linkedin.com"><img class="social_img" src="../../Resources/images/social_linkedin.jpg" width="37" height="37" alt="" /></a>
            <a href="http://twitter.com"><img class="social_img" src="../../Resources/images/social_twitter.jpg" width="37" height="37" alt="" /></a>
            <a href="http://tumblr.com"><img class="social_img" src="../../Resources/images/social_tumblr.jpg" width="37" height="37" alt="" /></a>
            <a href="http://youtube.com"><img class="social_img" src="../../Resources/images/social_youtube.jpg" width="37" height="37" alt="" /></a>
        </div>
    </div>
</div>
